// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  background-color:white;
  opacity: 0.9;
  margin-bottom: 80px;
}

.dropdown-menu > li > a {
  text-align: center;
}

.winner {
  font-weight: bold;
}

.tabbar {
  background-color: white;
  padding-bottom:5px;
}

